<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Fresh Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-white bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <ng-template #anonymusUser>
            <li  class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>

          <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymusUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="offcanvasNavbarLgDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.displayName}}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="offcanvasNavbarLgDropdown">
              <li><a class="dropdown-item" routerLink="/my/orders">My Orders</a></li>
              <li><a class="dropdown-item" routerLink="admin/orders">Manage Orders</a></li>
              <li><a class="dropdown-item" routerLink="admin/products">Manage Products</a></li>
              <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
            </ul>
          </li>
        </ul>          
      </div>
    </div>
  </div>
</nav>
